<div class="plugin-api-search">
    <%- components.apiNavbar() %>

    <% modules.forEach((module) => { %>

    <h4 id="<%- module.toString().replace('/', '') %>">
        <a href="#/<%- route %>?id=<%- module.toString().replace('/', '') %>"
           data-id="<%- module.toString().replace('/', '') %>" class="anchor">
            <span><%- scope ? scope + "/" : "" %><%- module %></span>
        </a>
    </h4>

    <%- components.apiList({ module: module.toString() }) %>

    <% }) %>
</div>